.dropdownInputContainer {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.dropdownInputContainer label {
  font-size: 13px;
}

.dropdownInputContainer select {
  margin-top: 4px;
  font-size: 17px;
}

.dropdownInputContainer span {
  height: 12px;
  color: #FF0000;
  font-size: 12px;
}