.locationListContainer {
  flex: 1;
}

.locationCard {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.1);
  transition: 0.3s;
  padding: 15px;
  border: 1px #eee solid;
  background-color: #fff;
}

.width100 {
  width: 100%;
}

.listHeader {
  display: flex;
  border: 1px #eee solid;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
  background-color: #fff;
}

.list {
  display: flex;
  border: 1px #eee solid;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
}

.buttonContainer {
  flex: 2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttonContainer img {
  cursor: pointer;
}

.noLocationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.sno { flex: 1; }
.locationName { flex: 5; }
.address { flex: 8 }
.phoneNumber { flex: 3 }
.actions { flex: 2 }