.paginationContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: #777;
}

.itemsPerPage {
  font-size: 12px;
  margin-right: 10px;
}

.currentPage {
  margin: 0 10px;
  font-size: 15px;
  font-weight: bold;
}

.buttonBox {
  width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 10px;
}

.buttonBox button {
  border: none;
  background-color: inherit;
  cursor: pointer;
}

.buttonBox button:disabled {
  opacity: 0.3;
}