@import "../../../commonStyles/common.scss";

.tagsInputContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;

  label {
    font-size: 13px;
  }
  input {
    margin-top: 5px;
    outline: 0;
    border-width: 0 0 2px;
    font-size: 17px;
    &::focus {
      border-color: #0000FF;
    }
  }
  div {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;

    span {
      font-size: 12px;
      padding: 4px 12px;
      border: 1px #ccc solid;
      background-color: #eee;
      border-radius: 30px;
      margin: 5px;

      img {
        @include cursorPointer;
      }
    }
  }
} 