.timeSelectContainer {
  display: flex;
  align-items: center;
}

.timeSelectContainer input {
  width: 60px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  border: 1px #ccc solid;
}

.ampmBox {
  display: flex;
  justify-content: space-evenly;
  border: 1px #eee solid;
  margin: 0 10px;
  align-items: center;
  height: 24px;
  border-radius: 5px;
}

.am {
  border-top-left-radius: 5px;
  border-right: 1px #eee solid;
  border-bottom-left-radius: 5px;
  font-size: 12px;
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pm {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  font-size: 12px;
  padding: 0 10px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.selected {
  background-color: blue;
  color: white;
}